.forms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(187, 12, 187);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 500px; /* Limita el ancho máximo */
}

.titulo {
    width: 100%;
    text-align: left;
    color: white;
    margin-bottom: 20px;
}

.recordatorio-title {
    font-size: 36px;            
    color: #FF6F00;              
    font-weight: bold;           
    text-align: left;            
    text-transform: uppercase;   
    letter-spacing: 2px;         
    margin-top: 20px;            
    margin-bottom: 20px;         
}

.form-group {
    width: 100%;  
    margin-bottom: 20px;  
}

label {
    color: white; 
    font-weight: bold;
    margin-bottom: 5px; 
    display: block;  
}

mat-form-field {
    width: 100%;  
    margin-bottom: 20px; 
}

.boton-agregar {
    background-color: orange;  
    color: white;               /* Color de texto blanco */
    width: 150px;               
    align-self: flex-end;       
    margin-top: 10px;          
    padding: 10px;
    border-radius: 5px;
}

.boton-agregar:hover {
    background-color: darkorange; 
}

.imagen{
    position: absolute;
    z-index: -1;
    object-fit: contain;
        
    
}