.dietas-container {
  max-width: 800px; /* Define un ancho máximo */
  margin: 0 auto; /* Centra el contenedor */
  text-align: center; /* Centra el texto y botones */
  padding: 20px; /* Espaciado interno */
  background-color: #fff; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
}

/* Título */
.titulo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Formulario de búsqueda */
form {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espaciado entre elementos */
  margin-bottom: 20px;
}
.form-busqueda {
  display: flex;
  gap: 10px; /* Espaciado entre elementos */
  align-items: center; /* Alineación vertical */
  justify-content: center; /* Centrado horizontal */
  margin-bottom: 20px; /* Espaciado inferior del formulario */
}

/* Listado de dietas */
.dieta-list {
  margin-top: 20px;
}

.mat-expansion-panel {
  margin-bottom: 10px;
  background-color: #fdd835;
  border-radius: 8px; /* Bordes redondeados */
}

.mat-panel-title {
  display: flex;
  align-items: center;
  font-size: 1.2rem; /* Tamaño del texto */
}

.mat-panel-title span {
  font-size: 0.95rem; /* Tamaño ligeramente menor para la fecha */
  color: #555;
  margin-left: 5px; /* Espaciado entre el nombre y la fecha */
}

/* Contenido dentro del panel */
.dieta-indicaciones {
  text-align: justify; /* Alinea el texto de forma justificada */
  font-size: 1rem; /* Tamaño de texto estándar */
  color: black; /* Color del texto */
  margin: 0; /* Margen ajustado */
  padding: 10px; /* Añade algo de espacio interno para que no se vea tan pegado */
}

/* Botones de acción */
.dieta-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

/* Botones generales */
.button-general {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.button-general:hover {
  background-color: #fbc02d;
  transform: scale(1.05);
}

/* Específico para el botón de agregar dieta */
.add-dieta-button {
  background-color: #fdd835;
  margin-top: 20px;
}

/* Botones de buscar y listado general */
.search-button {
  background-color: #fdd835;
  margin-right: 10px;
  margin-left: 10px; /* Aumenta el margen para un espaciado consistente */
  margin-bottom: 20px; /* Añade margen inferior para separar del listado */
}

.reset-button {
  background-color: #fdd835;
  margin-bottom: 20px; /* Añade margen inferior para separar del listado */
}

