<app-navbar-home></app-navbar-home>
<div class="dietas-container">
  <div class="titulo">Listado de Dietas</div>
  
  <!-- Formulario para buscar por fecha -->
  <form [formGroup]="formFecha" (ngSubmit)="cargarDietasPorFecha()" class="form-busqueda">
    <mat-form-field>
      <mat-label>Fecha de creación*</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button type="submit" class="button-general search-button">Buscar por Fecha</button>
    <button
      type="button"
      class="button-general reset-button"
      *ngIf="mostrarBotonListadoGeneral"
      (click)="listarTodas()"
    >
      Volver al Listado General
    </button>
  </form>

  <!-- Listado de dietas -->
  <mat-expansion-panel *ngFor="let dieta of dietas">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ dieta.nombre }} &nbsp; <span *ngIf="dieta.fecha_creacion">({{ dieta.fecha_creacion | date: 'shortDate' }})</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <!-- Contenido dentro del panel -->
    <div class="dieta-indicaciones">
      <p>{{ dieta.indicaciones }}</p>
    </div>
  
    <!-- Botones de acción -->
    <div class="dieta-actions">
      <button mat-icon-button color="warn" (click)="deleteDieta(dieta.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" [routerLink]="['/dieta-edit', dieta.id]">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>

  <button routerLink="/dieta-add" class="button-general add-dieta-button">Agregar dieta</button>
</div>
