.recomendacion-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .mascota-info {
    background-color: #ffe8a1;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .action-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .mat-expansion-panel {
    margin-bottom: 10px;
  }
  
  .panel-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
  }
  